<html>
  <body>
    <nav>
      <div class="container">
        <div class="left-side">
          <img src="" alt="Privat24 logo" />
          <ul>
            <li>Гаманець</li>
            <li>Сервіси</li>
            <li>Архів</li>
          </ul>
        </div>
        <div class="right-side">
          <ul>
            <li>Exchange</li>
            <li>
              <img src="" alt="Account avatar" />
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">
      <div class="services">
        <ul>
          <li>Картки</li>
          <li>Контакти</li>
          <li>Перекази</li>
        </ul>
      </div>
      <div class="q-services">
        <mat-card>
          <mat-card-content>Гаманець</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>Архів</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>Переказ на карту</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>Поповнення мобільного</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>Конвертер валют</mat-card-content>
        </mat-card>
      </div>
    </main>
  </body>
</html>
