<html>
  <body>
    <nav>
      <div class="container">
        <div class="left-side">
          <img src="" alt="Privat24 logo" />
          <ul>
            <li>Гаманець</li>
            <li>Сервіси</li>
            <li>Архів</li>
          </ul>
        </div>
        <div class="right-side">
          <ul>
            <li>Exchange</li>
            <li>
              <img src="" alt="Account avatar" />
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">
      
    </main>
  </body>
</html>
